*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none:}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;} 
/*-------------------------------*/
/*================================index===============================*/
@font-face{
	font-family: 'SuisseIntl'; 
	src: local('SuisseIntl'), url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SuisseIntl'; 
	src: local('SuisseIntl'), url('../fonts/SuisseIntl-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
main{
	font-family: 'SuisseIntl';
	position: relative;
	width: 100%;
	/*font-family: 'Noto Sans', sans-serif;*/
}
h3{
	font-size: 24px;
	text-transform: uppercase;
}
.regularText{
	font-size: 18px;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
}
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #F1F2F3;
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	transition: all 1s ease;
}
.preloader_active{
	opacity: 0;
	visibility: hidden;
}
.preloader__img{
	pointer-events: none;
}
/*.shield{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1010;
	pointer-events: none;
}*/
.bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.bg::after{
	content:'';
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:#102D4B;
	opacity: 0.45;
}
.bg img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.header{
	width: 100%;
	height: 100vh;
	position: relative;
	/*margin: 0 0 0px;*/
	/*padding: 150px 0 190px;*/
}
.header__wrapper{
	min-height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
}
.header__bg{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
/*.header__bg img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}*/
.video_bg{
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;	
}
.header__bg::after{
	content:'';
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:#000;
	opacity: 0.2;
}
.nav{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	/*border-bottom: 2px solid #B3B3B3;*/
	z-index: 1000;
}
.nav__wrapper{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.nav__right{
	display: flex;
}
.nav__logo{
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	transition: transform 0.2s ease 0s;
}
.nav__logo img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
}
.nav__logo:hover{
	transform: scale(1.05);
}
.nav__link{
	color: #fff;
	font-size: 20px;
	margin: 0 15px;
	transition: transform 0.3s ease 0s;
}
.nav__link:hover{
	transform: scale(1.05);
}
.nav__search{
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	transition: transform 0.2s ease 0s;
}
.nav__search img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.nav__search:hover{
	transform: scale(1.1);
}
.header__title{
	width: 800px;
	position: relative;
	z-index: 10;
	/*padding: 50px 0 0;*/
	/*background-color: rgba(255, 255, 255, 0.9);*/
	border-radius: 50px;
	/*box-shadow: 0 0 20px 2px #000;*/
	text-align: left;
	text-shadow: 1px 1px 0 #000;
	color: #fff;
}
.title__text{
	font-size: 28px;
	line-height:1.1;
	text-transform: uppercase;
}
.title__text::after{
	content: '';
	position: absolute;
	top: 70px;
	left: 0px;
	width: 300px;
	height: 3px;
	background-color: #439BDC;
}
.subtitle{
	margin: 20px 0 0;
	font-size: 24px;
}
.about{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	margin: 0 auto;
	/*box-shadow: 0 0 20px 5px #000;*/
}
.about__title{
	align-self: flex-start;
	margin: 100px auto 25px;
	position: relative;
	text-transform: uppercase;
}
.about__title::after{
	content: '';
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100px;
	height: 3px;
	background-color: #439BDC;
}
.about__text{
	text-align: justify;
	line-height: 30px;
	margin: 0 0 50px;
}
.about__row{
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
}
.about__column{
	flex: 0 0 50%;
	padding: 0 10px;
	margin: 0 0 20px;
	font-size: 18px;
}
/*.participants__universities::after{
	content: '';
	display: block;
	position: absolute;
	top: 270px;
	left: 240px;
	width: 350px;
	height: 1px;
	margin: 0 auto;
	background-color: #B3B3B3;
}*/
.universities__img{
	width: 240px;
	height: 240px;
	position: relative;
	overflow: hidden;
	margin:0 20px;
	border: 4px solid #439BDC;
	border-radius: 10px;
	transition: transform 0.3s ease 0s;
}
.universities__img:hover{
	transform: scale(1.05);
}
.universities__img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.parallax{
	height: 540px;
}
.news{
	/*height: 800px;*/
	position: relative;
	background-color: #fff;
	padding: 50px 0 50px;
}
.news-section__title{
	position: relative;
	margin: 0 0 50px;
}
.news-section__title::after{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100px;
	height: 3px;
	background-color: #439BDC;
}
.news__elements{
	display: flex;
}
.main__news{
	flex: 0 0 50%;
	margin-right: 10px;
}
.second__news{
	flex: 0 0 50%;
	display: flex;
	flex-wrap: wrap;
}
.news__row{
	display: flex;
}
.news__column{
	flex: 0 0 50%;
	padding:0 10px 20px;
}
.news__img{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.news__img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.main-news__img{
	height: 400px;
}
.second-news__img{
	height: 200px;
}
.news__title{
	font-size: 18px;
	/*font-weight: 700;*/
	margin-bottom: 5px;
	text-transform: uppercase;
}
.news__date{
	font-size: 14px;
	margin-bottom: 5px;
}
.news__text{
	text-align: justify;
}
.main-news__text{
	margin-bottom: 10px;
}
.allNews__link{
	text-decoration: underline;
	color: #439BDC;
}
.participants{
	position: relative;
	margin: 0 auto;
	padding: 50px 0 50px;
	background-color: #161616;
}
.participants__title{
	position: relative;
	margin: 0 0 50px;
	color: #fff;
}
.participants__title::after{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100px;
	height: 3px;
	background-color: #439BDC;
}
.participants__universities{
	display: flex;
	justify-content: center;
	position: relative;
}
.footer{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #fff;
	padding: 55px 0 0 0;
	font-size: 16px;
}
.contacts{
	width: 80%;
	margin: 0 auto;
	padding: 0 50px;
}
.contact{
	width: 250px;
	display: flex;
	align-items: center;
	margin: 0 0 20px;
}
.contact img{
	width: 30px;
	height: 30px;
}
.contact p{
	margin: 0 0 0 15px;
}
.vkontakte{
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	transition: transform 0.2s ease 0s;
}
.vkontakte img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.vkontakte:hover{
	transform: scale(1.1);
}
/*====================================admin.php======================================*/

.main_admin_auth{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form_admin{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
.form__title{
	font-size: 20px;
	margin: 0 0 15px;
}
.form__input{
	width: 100%;
	height: 35px;
	border: 2px solid #000;
	border-radius: 8px;
	margin: 0 0 15px;
	padding: 10px;
	letter-spacing: 1px;
}
.form__textarea{
	width: 100%;
	min-height: 150px;
	border: 2px solid #000;
	border-radius: 8px;
	padding: 10px;
	letter-spacing: 1px;
}
.button{
	width: 125px;
	height: 35px;
	border: 2px solid #000;
	border-radius: 8px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.button:hover{
	transform: scale(1.1);
}
.button:active{
	transform: scale(0.95);
	opacity: 0.95;
}
/*========================admin.php========================================*/
.main_admin{
	margin: 60px 0 0;
}
/*=======================news.php============================================*/
.all-news__row{
	display: flex;
	flex-wrap: wrap;
}
.all-news__column{
	flex: 0 0 25%;
	padding:0 10px 20px;
}